.navName{
   
    font-size: 30px;

}
.navAbout{
    
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 2px;
    color: gray;
    background: white;

}
.navSign{
   
    
    font-size: 20px;
    background: #2C9289;
    color: white;
    border: 1px solid #2C9289 ;
    padding: 10px;
    border-radius: 5px;

}
.navLogo{

    display: flex;
    align-items: center;
    gap: 6px;
    background-attachment: fixed;

}
.navbar{
    
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px;
   /* background: rgba(234, 246, 248, 0.082); */
   box-shadow:  0 3px 3px 0 rgba(99, 99, 99, 0.19);

}
.navAllButton{

   display: flex;
   align-items: center;
   gap: 10px;

}
.buttonHover:hover{
   
   border: 1px solid rgba(128, 128, 128, 0.322);
   border-radius: 3px;
   cursor: pointer;
   
}
.bannerText{
   
   text-align: center;  

}
.bannerButton{

   background: #2C9289 ;
   color: white;
   border: 3px solid #2C9289 ;
   font-size: 20px;
   padding: 10px;
   
   

}
.BannerB2{

   display: flex;
   justify-content: center;
   margin-top: -35px;

}
.DiscoverText{
   
   font-size: 70px; 
   margin-top: -18px;


}
.ExText{

   font-size: 18px;
   color: gray;
   

}
.bannerAll{

   background-image: url("https://s3-alpha-sig.figma.com/img/4c60/bf77/571667510d8e7b2f7d4515063962168a?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SkAZRRvKvF1ovLyx3YlnbIZcFzZO14TDCp4flW-PDf3QL6UDdVPlDuYTQIApCuCBnDZwYZnI7u-RQdv4q3-Cd~SRWyrTFuSAwkIzxozpgc8gp-lzi8u8j3T00-1s-mSkScyqPMtLPjgRnQK8MQoYHwdlDj7OuYtOn2DMBMofzwIxwjQ-t9fqZvsAhkxDajn6~RQ8To4WlPpKJakRTh-7K645wF2p0dzzqlTyTYLQlmy8XISPsmEKl4AC9Wyn1Fovcm48zBS3j-rH5YG19naJJxwWh7elYhvrZYDGwoYZzvaA1-GJAWC4ZgNVuo0a6zKyMcj1o0QP7Ra6Y5-aZQH~bQ__");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 190px;  
   /* margin-top: -20px;   */

}
.BestText{

   font-size: 40px; 

}
.ProductText{

   font-size: 30px;
   

}
.ProPara{

   font-size: 18px;

}
.Seetext{
  
   display: flex;
   align-items: center;
   gap: 10px;

}
.see{
  
   font-size: 20px;
 
}
.iconImg{

   margin-bottom: -5px;

}
.ProductsCard{

   display: flex;
   gap: 25px;

}
.BPCONTAINER{

   display: flex;
   justify-content: center;
   background: #F3FBFB;
   padding: 30px;

}
.SP-title{
   
   font-size: 40px; 
 
}
.chair-bg{

   background: #F8F4F2;


}
.Office-Chair{

   color: #2C9289;
   font-size: 16px;
   background: #F3FBFB;
   width: fit-content;
   padding: 4px;
   border-radius: 3px;

}
.Cream-Office-Chair{

   font-size: 20px;

}
.numberText{

   color: #2C9289;

}
.numberText2{

   color: rgba(128, 128, 128, 0.692);
   text-decoration: line-through

}
.AllNumber{

   display: flex;
   align-items: center;
   gap: 5px;

}
.color1{

   height: 15px;
   width: 15px;
   background: #2C9289;
   border-radius: 100%;
   border: 1px solid white;
   margin-left: -5px;

}
.color2{

   height: 15px;
   width: 15px;
   background: #58676B;
   border-radius: 100%;
   border: 1px solid white;
   margin-left: -5px;

}
.color3{

   height: 15px;
   width: 15px;
   background: #E5B781;
   border-radius: 100%;
   border: 1px solid white;
   margin-left: -5px;

}
.color4{

   height: 15px;
   width: 15px;
   background: #0F3141;
   border-radius: 100%;
   border: 1px solid white;
   margin-left: -5px;

}
.allZColorZ{

   display: flex;
   align-items: center;


}
.Price{

   display: flex;
   align-items: center;
   gap: 56px;
   margin-top: -15px;

}
.cardContainerZ{
   

   display: flex;
   align-items: center;
   gap: 20px;
   
}
.SellerProducts{
   
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
   background: white;


}
.storage-bg{

   background: #E3E7E8;


}
.Decoration-bg{

   background: #E2EBE0;

    
}
.Lightings-bg{

   background: #E8E8E3;


}
.table-bg{

   background: #F5E7D6;

}
.KITCHENText{

   font-size: 20px;
   color: white;

}
.AI-text{

   color: gray; 

}
.AllProjects{
   
   display: flex;
   align-items: center;
   gap: 20px;


}
.LatesProject{
   
   padding: 30px;
   display: flex;
   justify-content: center;
   background: #0F3141;

}
.lp-title{

   color: white;
}
.hv1:hover{
   
   transition: 1s;
   transform: scale(1.3);
   z-index: 2;

}
.RoomPic{

   background-image: url("https://i0.wp.com/picjumbo.com/wp-content/uploads/dark-living-room-design-free-photo.jpg?w=2210&quality=70") ;
   background-size: cover;
   background-repeat: no-repeat;
   height: 700px;
   width: 100%;
   position: relative;
   

}
.RoomText{

   position: absolute;
   bottom: 8px;
   left: 16px;
   font-size: 60px;
   padding: 100px;
   color: white;
  
  
 
}
.playText{

   color: yellow;

}
.clientText{

   font-size: 20px;

}
.img-1{

   border: 1px solid gray;

}
.CT-1{

   font-size: 20px;

}
.CT-2{

   color: gray;

}
.Client-cardOne{

   display: flex;
   align-items: center;
   gap: 30px;
   background: #d0f3f3;
   padding: 16px;
   border-radius: 10px;

}
.all-client-card{

   display: flex;
   align-items: center;
   gap: 30px;


}
.img-border{

   border-radius: 10px;


}
.C-R{

   margin-bottom: -18px;

}
.Clients{

   display: flex;
   justify-content: center;
   padding: 60px;

}
.pay-text{

   font-size: 50px;

}
.CU-b{

   background: #2C9289 ;
   color: white;
   border: 1px solid #2C9289 ;
   font-size: 20px;
   padding: 10px;

}
.VP{

   color: white;
   font-size: 20px;


}
.CV{
   
   display: flex;
   align-items: center;
   gap: 15px;

}
.lorem{
   
   margin-top: -20px;
   font-size: 18px;
   color: white;


}
.Pay-img{

   background-image: url("https://img.freepik.com/premium-photo/mock-up-living-room-interior-with-armchair-empty-dark-blue-wall-wall-background-3d-rendering_41470-4089.jpg?w=996");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 150px;
   display: flex;
   justify-content: end;


}

/* ////footer work */
.footer-logo{

   border-radius: 100%;

}
.footer-name{

  font-size: 25px;
 

}
.footer-L-N{

   display: flex;
   gap: 15px;

}
.footer-para{

   font-size: 20px;

}
.Footer-location{

   display: flex;
   align-items: center;
   gap: 10px;

}
.Address{

   display: flex;
   align-items: center;
   gap: 30px;

}
.FooterMain{

   background: #0F3141;
   color: white;
   padding: 100px;

}
.location-icon{

   height: 30px;
   width: 30px;

}

.contact{

   margin-top: -20px;
}
.footer-Details-text{

   font-size: 20px;

}
.footer-Details-text-2{

   color: gray;
   cursor: pointer;

}
.all-footer-details{

   display: flex;
   gap: 60px;

}
.Footer-details{

   display: flex;
   justify-content: space-between;

}
.footer-line{

   margin-top: 10px;
   margin-bottom: 10px;

}
.social-icon{

   height: 25px;
   width:  25px; 


}
.all-icon{
   
   display: flex;
   align-items: center;
   gap: 5px;

}
.footer-last{

   display: flex;
   align-items: center;
   justify-content: space-between;


}
/* ////footer work */

/* ////about work */

.AboutMain{
   
   margin-top: 80px;


}
.aboutText{

   text-align: center;
   
}
.C1{

   color: #2C9289;
   font-size: 16px;

}
.C2{

   font-size: 60px;
   margin-top: -10px;

}
.C3{

   color: gray;
   font-size: 20px;
   margin-top: -30px;

}
.numText{

   font-size: 60px;
   text-align: center;

}
.num2text{

   font-size: 18px;
   text-align: center;
   margin-top: -50px;
   color: gray;

}
.NumberContainer{

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 100px;

}
.about-pic{

   display: flex ;
   justify-content: center;

}
.pic-border{

   border-radius: 10px;
  

}
.WorldClassMain{

   margin-top: 50px;
   padding: 50px;
   margin-bottom: 20px;
 

}
.WC-pic{

   border-radius: 5px; 

}
.w1{

   font-size: 60px;
   margin-top: -4px;

}
.w-text{

   color: gray;
   /* margin-top: -15px; */
 

}
.w-text2{

   color: gray;
   margin-top: 20px;


}
.but-text{

   color: gray;

}
.design-lines{

   display: flex;
   align-items: center;
   gap: 10px;

}
.WC-flex{

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;

}
.team-text{

   font-size: 40px;

}
.olivia-name{

   font-size: 20px;

}
.FC-color{
   
   color: #2C9289;

}
.all-special-team-card{

   display: flex;
   align-items: center;
   gap: 10px;


}
.SpecialTeam{

   display: flex;
   justify-content: center;
   padding: 30px;

}

/* ////about work */

/* ///contact work */

.ContactMap{

   margin-top: 80px;

}
.Support-text{

   font-size: 30px;
   text-align: center;

}
.our-text{

   font-size: 20px;
   color: gray;
   text-align: center;
   margin-top: -8px;

}
.email-color{

   color: #2C9289;

}
.SSP-CARD{

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 90px;

}
.AddressInformation{

   margin-top: 50px;
   margin-bottom: 50px;
   background: #0F3141;
   color: white;
   padding: 160px;

}
.locations-text{

   font-size: 20px;
   color: gray;

}
.store-text{

   font-size: 25px;
}
.M-text{
   
   font-size: 25px;


}
.All-addInfo-card{

   display: flex;
   justify-content: center;
   gap: 130px;

}
.let-text{
   
   font-size: 35px;
 
}
.Hi-color{

   color: #2C9289;

}
.email-title{

   font-size: 18px; 
   color: gray;
   margin-top: -10px;

}
.FN{
   
   border: 1px solid rgba(128, 128, 128, 0.534);
   border-radius: 5px;
   height: 30px;
   width: 200px;
   padding: 5px;


}
.F-l{

   display: flex;
   align-items: center;
   gap: 10px;

}




/* ///contact work */