.navName{
   
    font-size: 30px;

}
.navAbout{
    
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 2px;
    color: gray;
    background: white;

}
.navSign{
   
    
    font-size: 20px;
    background: #2C9289;
    color: white;
    border: 1px solid #2C9289 ;
    padding: 10px;


}
