.navName{
   
    font-size: 30px;

}
.navAbout{
    
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 2px;
    color: gray;
    background: white;

}
.navSign{
   
    
    font-size: 20px;
    background: #2C9289;
    color: white;
    border: 1px solid #2C9289 ;
    padding: 10px;
    border-radius: 5px;

}
.navLogo{

    display: flex;
    align-items: center;
    gap: 3px;
    background-attachment: fixed;

}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    
  

}
.navAllButton{

   display: flex;
   align-items: center;
   gap: 10px;

}
.buttonHover:hover{
   
   border: 1px solid black;
   border-radius: 3px;
   cursor: pointer;


}
.bannerText{
   
   text-align: center;  

}
.bannerButton{

   background: #2C9289 ;
   color: white;
   border: 3px solid #2C9289 ;
   font-size: 20px;
   padding: 10px;
   
   

}
.BannerB2{

   display: flex;
   justify-content: center;
   margin-top: -35px;

}
.DiscoverText{
   
   font-size: 70px; 
   margin-top: -18px;


}
.ExText{

   font-size: 18px;
   color: gray;
   

}
.bannerAll{

   background-image: url("https://s3-alpha-sig.figma.com/img/4c60/bf77/571667510d8e7b2f7d4515063962168a?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SkAZRRvKvF1ovLyx3YlnbIZcFzZO14TDCp4flW-PDf3QL6UDdVPlDuYTQIApCuCBnDZwYZnI7u-RQdv4q3-Cd~SRWyrTFuSAwkIzxozpgc8gp-lzi8u8j3T00-1s-mSkScyqPMtLPjgRnQK8MQoYHwdlDj7OuYtOn2DMBMofzwIxwjQ-t9fqZvsAhkxDajn6~RQ8To4WlPpKJakRTh-7K645wF2p0dzzqlTyTYLQlmy8XISPsmEKl4AC9Wyn1Fovcm48zBS3j-rH5YG19naJJxwWh7elYhvrZYDGwoYZzvaA1-GJAWC4ZgNVuo0a6zKyMcj1o0QP7Ra6Y5-aZQH~bQ__");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 190px;  
   margin-top: -20px;  
}
.BestText{

   font-size: 40px; 

}
.ProductText{

   font-size: 30px;
   

}
.ProPara{

   font-size: 18px;

}
.Seetext{
  
   display: flex;
   align-items: center;
   gap: 10px;

}
.see{
  
   font-size: 20px;
 
}
.iconImg{

   margin-bottom: -5px;

}
.ProductsCard{

   display: flex;
   gap: 25px;

}
.BPCONTAINER{

   display: flex;
   justify-content: center;
   background: #F3FBFB;
   padding: 30px;

}

