

@media screen and (max-width:576px) {

   .ProductsCard{

      flex-direction: column;

    }
    .cardContainerZ{

       flex-direction: column;

    }
    .AllProjects{

       flex-direction: column;

    }
    .all-client-card{

       flex-direction: column;

    }
    .Client-cardOne{

       flex-direction: column;

    }
    .Footer-details{

       flex-direction: column;

    }
    .all-footer-details{

       flex-direction: column;

    }
    .NumberContainer{

       flex-direction: column;

    }
    .a-pic-text{

       flex-direction: column;

    }
    .all-special-team-card{

      flex-direction: column;

    }
    .SSP-CARD{

      flex-direction: column;

    }
    .All-addInfo-card{

      flex-direction: column;
      gap: 40px;

    }
    .contact-flex{

      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;

    }
    .form-photo{
       
       width: 100%;

    }
    .WorldClassMain{

       margin: 20px;

    }
    .WC-flex{

       flex-direction: column;

    }
    .WC-pic{

       width: 100%;
       height: auto;

    }
    .pic-border{
          
      width: 100%;
      height: auto;

    }
    .bannerAll{

      width: fit-content;
      height: 200px;
      /* margin-left: 40px; */
      /* margin-right: 20px;   */
      /* display: flex;
      justify-content: center; */

    }
    .AB-RES{

     display: flex;
     justify-content: center;

    }
    .DiscoverText{

       font-size: 51px;
       

    }
    .all-banner-text{
        margin-top: -30px;
    }
    .RoomPic{
     
      height: 250px;
      width: 100%;

    }
    .RoomText{

      font-size: 19px;

    }
    .Pay-img{
     
      height: auto;
      width: fit-content;


    }
    .pay-text{

      font-size: 30px;

    }
    .lorem{
     
      font-size: 15px;

    }
    .ExText{
     
      font-size: 14px;

    }
    .bannerButton{

       font-size: 15px;
       margin-top: 20px;

    }
    .inter{
          
       font-size: 5px;

    }
    .NumberContainer{

        gap: 5px;

    }
    .SSP-CARD{

        gap: 10px;

    }
    .all-footer-details{

       gap: 5px;

    }
    .copyright-text{
        
       font-size: 7px;

    }
    .footer-Address{

       font-size: 8px;

    }
    .form-button{
      
       width: 160px;
    

    }
    .footer-last{
  
       gap: 10px;
       
    }
    .nav-margin-left{

       margin-left: 5px;

    }
    .SP-title{

       font-size: 30px;

    }
    .lp-title{

       font-size: 30px;
       text-align: center;

    }
    .res-icon{
 
       height: 20px;
       width:  25px;

    }
    .nav-margin-right{

       margin-right: 5px;
    }
    .navName{
       
       font-size: 10px;

    }
    .navAbout{

       font-size: 10px;

    }
    .DiscoverText{

       font-size: 20px;
       line-height: 25px;
   
    }
    .all-banner-text{

       margin-top: 10px;

    }
    .bannerAll{

      margin-bottom: 10px;
      margin-top: 100px;
      border-radius: 10px;

    }
    .BestText{

      font-size: 25px;
      line-height: 25px;
     
    }
    .RoomText{

      font-size: 20px;
      line-height: 25px;

    }
    .BestText2{

      font-size: 25px;
      line-height: 40px;
      /* margin-bottom: 20px; */
      text-align: center;
     

    }
  
    .pay-text{

      font-size: 18px;
      line-height: 18px;

    }
    .lorem{

      font-size: 15px;
      line-height: 15px;
      margin-top: 10px;
      font-weight: 300;
      
    }
    .CU-b{

      font-size: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .VP{

      font-size: 10px;
      
    }
    .footer-Address{

      font-size: 8px;
      line-height: 10px;

    }
    .about-header-text{

      margin-left: 10px;
      margin-right: 10px;

    }
    .C2{

      font-size: 20px;
   
    }
    .C3{

      font-size: 10px;
      line-height: 10px;

    }
    .AboutMain{

      margin-left: 30px;
      margin-right: 30px;

    }
    .numText{

      font-size: 40px;

    }
    .num2text{

      font-size: 10px;

    }
    .WorldClassMain{

      margin-left:  60px;
      margin-right: 60px;

    }
    .w1{

      font-size: 30px;
      line-height: 30px;

    }
    .WC-pic{

      height: auto;
      width: 350px;
      border-radius: 10px;

    }
    .team-text{

      font-size: 40px;
      text-align: center;

    }
    .map-border{

      height: auto;
      width: 100%;
      border-radius: 10px;
     

    }
    .map-margin{

       margin-left:  30px;
       margin-right: 30px;

    }
    .ContactFormMain{

       margin-left:  30px;
       margin-right: 30px;

    }
    .F-l{
       
       flex-direction: column;

    }
    .form-email{
      
       width: 240px;


    }
    .form-message{

       width: 240px;

    }
    .let-text{
      
       font-size: 20px;
       line-height: 20px;

    }
    .email-title{
      
      font-size: 10px;
      line-height: 20px;

    }
    .form-flex{

       width: 300px;
       height: 850px;

    }
    .form-photo{
      
      width: 362px;

    }
    .form-button{

      width: 271px;

    }
    .store-text{
      
       line-height: 20px;
       
    }
    .find-text{
       
       line-height: 20px;

    }
    .locations-text1{

       line-height: 16px;

    }
    .dm-sans{

      font-size: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;
      padding-right: 10px;

    }
    .CT-1{

      font-size: 10px;

    }
    .CT-2{

      font-size: 10px; 

    }
    .f-address{

      font-size: 12px;

    }
    .location-icon{

      height: 20px;
      width: 20px;

    }
    .social-icon{

      height: 13px;
      width: 13px;

    }
    .FooterMain{

       padding: 70px;

    }


    
  

    
    
     
}


/* for max */


@media screen and (min-width:576px) and (max-width:960px)  {

   .ProductsCard{

      flex-direction: column;

    }
    .cardContainerZ{

       flex-direction: column;

    }
    .AllProjects{

       flex-direction: column;

    }
    .all-client-card{

       flex-direction: column;

    }
    .Client-cardOne{

       flex-direction: column;

    }
    .Footer-details{

       flex-direction: column;

    }
    .all-footer-details{

       flex-direction: column;

    }
    .NumberContainer{

       flex-direction: column;

    }
    .a-pic-text{

       flex-direction: column;

    }
    .all-special-team-card{

      flex-direction: column;

    }
    .SSP-CARD{

      flex-direction: column;

    }
    .All-addInfo-card{

      flex-direction: column;

    }
    .contact-flex{

      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;

    }
    .form-photo{
       
       width: 100%;

    }
    .WorldClassMain{

       margin: 20px;

    }
    .WC-flex{

       flex-direction: column;

    }
    .WC-pic{

       width: 100%;
       height: auto;

    }
    .pic-border{
          
      width: 100%;
      height: auto;

    }
    .bannerAll{

      width: fit-content;
      height: 200px;
       /* margin-left: 20px;
      margin-right: 20px;  */

    }
    .DiscoverText{

       font-size: 51px;
       

    }
    .all-banner-text{
        margin-top: -30px;
    }
    .RoomPic{
     
      height: 250px;
      width: 100%;

    }
    .RoomText{

      font-size: 19px;

    }
    .Pay-img{
     
      height: auto;
      width: fit-content ;
      /* margin-left: 10px;
      margin-left: 10px; */


    }
    .pay-text{

      font-size: 30px;
      

    }
    .lorem{
     
      font-size: 10px;

    }
    .ExText{
     
      font-size: 14px;

    }
    .bannerButton{

       font-size: 15px;

    }
    .NumberContainer{

      gap: 5px;

    }
    .SSP-CARD{

      gap: 10px;

    }
    .all-footer-details{

      gap: 5px;

   }
   .copyright-text{
       
      font-size: 7px;

   }
   .footer-Address{

      font-size: 8px;

   }
   .form-button{
      
      width: 160px;
   

   }
   .footer-last{
  
      gap: 10px;
      
   }
   .nav-margin-left{

      margin-left: 5px;

   }
   .SP-title{

      font-size: 30px;

   }
   .lp-title{

      font-size: 30px;
      text-align: center;

   }
   .res-icon{

      height: 20px;
      width:  25px;

   }
   .nav-margin-right{

      margin-right: 5px;
   }
   .navName{
      
      font-size: 10px;

   }
   .navAbout{

      font-size: 10px;

   }
  
   .DiscoverText{

      font-size: 20px;
      line-height: 25px;
  
   }
   .all-banner-text{

      margin-top: 10px;

   }
   .bannerAll{

    
     margin-bottom: 10px;
     margin-top: 100px;
     border-radius: 10px;
 

   }
   .BestText{

      font-size: 25px;
      line-height: 25px;
     

    }
    .RoomText{

      font-size: 20px;
      line-height: 25px;

    }
    .BestText2{

      font-size: 30px;

    }
    .pay-text{

      font-size: 18px;
      line-height: 18px;

    }
    .lorem{

      font-size: 15px;
      line-height: 15px;
      margin-top: 10px;
      font-weight: 300;
      
    }
    .CU-b{

      font-size: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .VP{

      font-size: 10px;
      
    }
    .footer-Address{

      font-size: 8px;
      line-height: 10px;

    }
    .about-header-text{

      margin-left: 10px;
      margin-right: 10px;

    }
    .C2{

      font-size: 20px;
   
    }
    .C3{

      font-size: 10px;
      line-height: 10px;

    }
    .AboutMain{

      margin-left: 30px;
      margin-right: 30px;

    }
    .numText{

      font-size: 40px;

    }
    .num2text{

      font-size: 10px;

    }
    .WorldClassMain{

      margin-left:  60px;
      margin-right: 60px;

    }
    .w1{

      font-size: 30px;
      line-height: 30px;

    }
    .WC-pic{

      height: auto;
      width: 350px;
      border-radius: 10px;

    }
    .team-text{

      font-size: 40px;
      text-align: center;

    }
    .map-border{

      height: auto;
      width: 100%;
      border-radius: 10px;
     

    }
    .map-margin{

       margin-left:  30px;
       margin-right: 30px;

    }
    .ContactFormMain{

       margin-left:  30px;
       margin-right: 30px;

    }
    .F-l{
       
       flex-direction: column;

    }
    .form-email{
      
       width: 240px;


    }
    .form-message{

       width: 240px;

    }
    .let-text{
      
       font-size: 20px;
       line-height: 20px;

    }
    .email-title{
      
      font-size: 10px;
      line-height: 20px;

    }
    .form-flex{

       width: 300px;
       height: 850px;

    }
    .form-photo{
      
      width: 362px;

    }
    .form-button{

      width: 271px;

    }
    .store-text{
      
       line-height: 20px;
       
    }
    .find-text{
       
       line-height: 20px;

    }
    .locations-text1{

       line-height: 16px;

    }
    .CT-1{

      font-size: 10px;

    }
    .CT-2{

      font-size: 10px; 

    }


   
 
 
   
    
    
}




   